body {
  background-color: whitesmoke;
  font-family: arial, Verdana, Tahoma;
  text-transform: uppercase;
  color: #333333;
  background-color: #f5f5f5;
}
h1 {
  font-size: 36px;
  text-align: center;
  color: #b74c3d;
  text-decoration: underline;
  padding: 15px;
  border: 1px;
  margin: 8px;
}
ul {
  /* Defines this element as a flex container, enabling Flexbox layout for flexible and responsive arrangement of its child elements */
  display: flex;
  background-color: lightgray;
  /* Distributes space evenly around flex items */
  justify-content: space-around;
  padding: 15px;
  border: 1px;
  margin: 10px;
}
img {
  /* Sets the image to display as the background of the container */
  height: auto;
  box-shadow: 0 4px 8px rgb(0, 0, 0.2);
  border: 1px;
  margin: 5px;
  padding: 10px;
}
